$hr-color: #848484;
$main-font-color: #414142;
$main-background-color: #f3f3f3;
$main-name-color:#142eb1;
$svg-color-a: #673AB7;
$svg-color-b: #2ac38d;
$icon-react-color: #00d8ff;
$icon-vue-color: #42b883;
$icon-php-color: #4f5b93;