@import 'config.scss';

// GENERICS
@import '../components/generics/subtitle/title.scss';

// SECTION A
@import '../components/section-a/img/image.scss';
@import '../components/section-a/bio/bio.scss';
@import '../components/section-a/information/information.scss';
@import '../components/section-a/contact/contact.scss';
@import '../components/section-a/languages/languages.scss';
@import '../components/section-a/skills/skills.scss';

//SECTION B
@import '../components/section-b/info/info.scss';
@import '../components/section-b/academy/academy.scss';
@import '../components/section-b/courses/courses.scss';
@import '../components/section-b/work_experience/work.scss';


body{
  margin: 0;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;

  hr{
    border: 1px solid $hr-color;
  }
  .home{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    color: $main-font-color;
    .section-a {
      width: 35%;
      height: 100%;
      background-color: $main-background-color;
      svg {
        position: absolute;
        fill: $svg-color-a;
        stroke: $svg-color-a;
      }
    }
    .section-b {
      width: 65%;
      height: 100%;
      svg {
        position: absolute;
        fill: $svg-color-b;
        stroke: $svg-color-b;
      }
    }
  }
  @media print {
    .home {
      width: 100%;
      height: 100%;
    }
  }
}

